.profile {
    display: flex;
    align-items: center;
    position: absolute;
    right: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 8px;
    padding: 0.5rem 0.8rem;
}

.profile:hover {
    background-color: #e9ecef;
}

.profile-name {
    position: relative;
    font-size: 22px;
    margin-right: 10px;
}

.profile-image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    border: none;
}

.profile span {
    font-size: 22px;
    color: #333;
}
