.admin-nav-area {
    display: flex;
    transition: margin-left 0.3s ease;
}

.admin-nav-area .admin-nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 250px;
    background-color: #f8f9fa;
    box-shadow: 4px 0 6px rgba(0, 0, 0, 0.1);
    padding-top: 20px;
    transition: width 0.3s ease;
    z-index: 1;
}

.admin-nav-area .admin-nav.collapsed {
    width: 80px;
}

.admin-nav-area .toggle-menu-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: -40px;
    border-radius: 5px;
    z-index: 2;
    transition: right 0.3s ease;
}

.admin-nav-area .main-nav .menus {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
}

.admin-nav-area .menu-items {
    font-size: 22px;
    padding: 15px 20px;
    cursor: pointer;
    color: #333;
    border-radius: 8px;
    width: 100%;
    text-align: left;
    transition: background-color 0.3s ease, transform 0.2s ease;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.admin-nav-area .menu-items span {
    transition: transform 0.2s ease;
    display: inline-block;
}

.admin-nav-area .admin-nav.collapsed .menu-items span {
    display: none;
}

.admin-nav-area .admin-nav:not(.collapsed) .menu-items span {
    display: inline-block;
}

.admin-nav-area .menu-items:hover {
    background-color: #e9ecef;
}

.admin-nav-area .menu-items:hover span {
    transform: translateX(10px);
}

.admin-nav-area .menu-items.active {
    background-color: #e9ecef;
    font-weight: bold;
}

.admin-nav-area .content-area {
    margin-left: 250px;
    padding: 2rem;
    flex-grow: 1;
    transition: margin-left 0.3s ease;
}

.admin-nav-area .admin-nav.collapsed ~ .content-area {
    margin-left: 80px;
}