.calendar-container {
    margin-top: 40px;
    text-align: center;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    font-family: 'Roboto', sans-serif;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.calendar-title {
    font-size: 1.5rem;
    color: #333;
}

.calendar-navigation {
    display: flex;
    gap: 10px;
    align-items: center;
}

.prev-month-button,
.next-month-button {
    background-color: #eeeeee;
    color: #333;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.prev-month-button:hover,
.next-month-button:hover {
    background-color: #d6d6d6;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.current-month {
    font-size: 1.2rem;
    color: #333;
}

.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    margin-top: 20px;
}

.calendar-day-header {
    font-weight: bold;
    color: #555;
    background-color: #f4f4f4;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}

.calendar-day {
    padding: 10px;
    background-color: #f9f9f9;
    text-align: center;
    cursor: pointer;
    border-radius: 8px;
    position: relative;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.calendar-day:hover {
    background-color: #eaeaea;
    transform: scale(1.05);
}

.calendar-day[data-description]:hover::after {
    display: block;
    content: attr(data-description);
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.9rem;
    white-space: nowrap;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

.empty-cell {
    background-color: transparent;
}

.non-working-day {
    background-color: #e6f7ff;
    color: #1890ff;
    font-weight: bold;
    border: 1px solid #91d5ff;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.non-working-day:hover {
    background-color: #bae7ff;
    color: #096dd9;
    border-color: #69c0ff;
}